*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 20px;
   
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: black;
    
}