header#main-header{
    width: 100%;
    height: 80px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 25px;
    font-weight: bold;
    color: white;
    /*Fazendo com que o texto fique no centro*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 10px black;
}